
@{
    ViewData["Title"] = "Index";
}
@model cable.Models.LoginVIewModel
<div class="card-body login-card-body">
    <div class="login-logo">
        <img src="~/logo.png" class="img-circle" width="100" height="100" />
    </div>
    <p class="login-box-msg">Sign in to start your session</p>

    <form asp-action="Index" asp-controller="Login" method="post">
        <div class="input-group mb-3">
            <input asp-for="uname" id="uname" type="text" required class="form-control" name="uname" placeholder="User Name">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" asp-for="password" id="password" required class="form-control" placeholder="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input asp-for="RememberMe" type="checkbox" id="remember">
                    <label for="remember">
                        Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
    </p>
    <p class="mb-0">
        @if (ViewBag.err != "")
        {
            <div class="form-group">
                <label class="btn btn-danger" style="padding:10px;">@ViewBag.err</label>
            </div>
        }
    </p>
</div>
<!-- /.login-card-body -->
