
@{
    ViewData["Title"] = "EditCustomer";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customers</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Basic Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div id="cusDetails" class="card-body">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">STB Details <a class="btn btn-primary" onclick="AddNewSTB();" >Add New</a></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="cusSTBTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STB No</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Package</th>
                                    <th>AddOnPack</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Invoice Details  <a class="btn btn-primary" onclick="GenerateINV();" >Generate Invoice</a></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="cusInvoiceTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Invoice ID</th>
                                    <th>Month</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Payment Details <i class="glyphicon glyphicon-edit"></i></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="cusPaymentTable" class="table table-bordered table-striped ">
                            <thead>
                                <tr>
                                    <th>Payment ID</th>
                                    <th>Invoice ID</th>
                                    <th>Amount</th>
                                    <th>Collected By</th>
                                    <th>Status</th>

                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="AreaModel" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="mtitle" class="modal-title"> </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div id="mbody" class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    var id = '@ViewBag.ID';
    var cid = '@ViewBag.cid';
    function LoadData() {
        $("#cusDetails").load("/Home/PopUpModelShow/EditCustomer-"+id, function () {

        });

        //STB Table
        $("#cusSTBTable").DataTable({
            // Design Assets
            stateSave: true,
            autoWidth: true,
            destroy: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/ViewData/LoadCustomerSTB/"+id,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                { data: "stbno" },
                { data: "type" },
                { data: "amount" },
                { data: "planname" },
                { data: "addonpack" },
                
                { data: "status" },
                {
                    data: "createdAt",
                    render: function (data, type, row) {
                        console.log(row);
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd DD/MM/YYYY HH:mm:ss");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="#" class="btn btn-primary btn-sm checkbox-toggle" onclick="editcustomerSTB(\'' + row.id + '\');" title="Edit"><i class="fas fa-edit"></i></a>  <a class="btn btn-danger btn-sm checkbox-toggle" onclick="delcustomerSTB(\'' + row.id + '\');" title="delete"><i class="far fa-trash-alt"></i></a>';
                    }
                }
            ],
            // Column Definitions
            columnDefs: [
                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }

                        return data;
                    }
                },
                { targets: "date-type", type: "date-eu" }
            ]
        });

        /// Invoice Table
        $("#cusInvoiceTable").DataTable({
            // Design Assets
            stateSave: true,
            autoWidth: true,
            destroy: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/ViewData/LoadCustomerInvoice/" + id,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                {
                    data: "invid",
                    render: function (data, type, row) {
                        return row.zone + "/" + data;
                    }
                },

                { data: "month" },
                { data: "amount" },
                { data: "balance" },

                { data: "status" },
                {
                    data: "createdAt",
                    render: function (data, type, row) {
                        console.log(row);
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd DD/MM/YYYY HH:mm:ss");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="#" class="btn btn-primary  btn-sm checkbox-toggle" onclick="Pay(\'' + row.id + '-' + row.balance+'-y\');" title="Pay"><i class="far fa-credit-card"></i></a><a href="#" class="btn btn-success  btn-sm checkbox-toggle" onclick="invDownload(\'' + row.id + '\');" title="Download"><i class="fas fa-download"></i></a>  <a class="btn btn-danger btn-sm checkbox-toggle" onclick="delInv(\'' + row.id + '\');" title="delete"><i class="far fa-trash-alt"></i></a>';
                    }
                }
            ],
            // Column Definitions
            columnDefs: [
                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }

                        return data;
                    }
                },
                { targets: "date-type", type: "date-eu" }
            ]
        });

        // Payment Table
        $("#cusPaymentTable").DataTable({
            // Design Assets
            stateSave: true,
            autoWidth: true,
            destroy: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/ViewData/LoadCustomerPayment/" + id,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                {
                    data: "payid",
                    render: function (data, type, row) {
                        return row.zone + "/" + data;
                    }
                },
                {
                    data: "invid",
                    render: function (data, type, row) {
                        return JSON.stringify(data);
                    }
                },
                { data: "amount" },
                { data: "collectedby" },

                { data: "status" },
                {
                    data: "createdAt",
                    render: function (data, type, row) {
                        console.log(row);
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd DD/MM/YYYY HH:mm:ss");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="#" class="btn btn-success  btn-sm checkbox-toggle" onclick="paymentDownload(\'' + row.id + '\');" title="Download"><i class="fas fa-download"></i></a>  <a class="btn btn-danger btn-sm checkbox-toggle" onclick="delPay(\'' + row.id + '\');" title="delete"><i class="far fa-trash-alt"></i></a>';
                    }
                }
            ],
            // Column Definitions
            columnDefs: [
                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }

                        return data;
                    }
                },
                { targets: "date-type", type: "date-eu" }
            ]
        });
    }
    $(document).ready(function () {
        LoadData();
    });
    function AddNewSTB() {
        $("#mbody").load("/Home/PopUpModelShow/AddCusSTB-" + cid, function () {

            $("#mtitle").text("Add Customer STB");
            $("#AreaModel").modal({ backdrop: 'static', keyboard: false });
        });
    }
    function editcustomerSTB(id) {
        $("#mbody").load("/Home/PopUpModelShow/EditCusSTB-" + id, function () {

            $("#mtitle").text("Edit Customer STB");
            $("#AreaModel").modal({ backdrop: 'static', keyboard: false });
        });
    }
    function GenerateINV() {
        $("#mbody").load("/Home/PopUpModelShow/GenerateCusINV-" + cid, function () {

            $("#mtitle").text("Generate Customer Invoice");
            $("#AreaModel").modal({ backdrop: 'static', keyboard: false });
        });
    }
    function Pay(id) {
        $("#mbody").load("/Home/PopUpModelShow/PayInvoice-" + id, function () {

            $("#mtitle").text("Pay Invoice");
            $("#AreaModel").modal({ backdrop: 'static', keyboard: false });
        });
    }
    function invDownload(id) {
        var mywindow = window.open("/Home/invoiceDownload/" + id, 'Print', 'height=900,width=900');


        setTimeout(function () {
            mywindow.focus();
            mywindow.print();
            //mywindow.close();
        }, 5000);



        return true;
    }
    function delPay(id) {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this Action!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: "/Delete/DeleteCollection/",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    processData: false,
                    data: JSON.stringify(id),
                    async: true,
                    success: function (response) {
                        swal("Deleted!", "Your Record has been deleted.", "success");
                        LoadData();
                    },
                    error: function (e) {
                        swal("Oops", e.responseText, "error");
                        LoadData();
                    }
                });

            });
    }
    function delInv(id) {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this Action!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: "/Delete/DeleteInvoice/",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    processData: false,
                    data: JSON.stringify(id),
                    async: true,
                    success: function (response) {
                        swal("Deleted!", "Your Record has been deleted.", "success");
                        LoadData();
                    },
                    error: function (e) {
                        swal("Oops", e.responseText, "error");
                        LoadData();
                    }
                });

            });
    }
    function delcustomerSTB(id) {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this Action!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: "/Delete/DeleteSTB/",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    processData: false,
                    data: JSON.stringify(id),
                    async: true,
                    success: function (response) {
                        swal("Deleted!", "Your Record has been deleted.", "success");
                        LoadData();
                    },
                    error: function (e) {
                        swal("Oops", e.responseText, "error");
                        LoadData();
                    }
                });

            });
    }
    function delcustomer(id) {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this Record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: "/Delete/DeleteArea/",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    processData: false,
                    data: JSON.stringify(id),
                    async: true,
                    success: function (response) {
                        swal("Deleted!", "Your Record has been deleted.", "success");
                        LoadData();
                    },
                    error: function (e) {
                        swal("Oops", e.responseText, "error");
                        LoadData();
                    }
                });

            });
    }
    function strtrunc(str, num) {
        if (str.length > num) {
            return str.slice(0, num) + "...";
        }
        else {
            return str;
        }
    }

</script>
