
@{
    ViewData["Title"] = "Stbs";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customers</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><a onclick="AddNew();" class="btn btn-primary">Add New</a></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="STBTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STB No</th>
                                    <th>Customer ID</th>
                                   
                                    <th>STB Type</th>
                                    <th>Package</th>
                                    <th>AddOnPack</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


<script>

    function LoadData() {
        $("#STBTable").DataTable({
            // Design Assets
            stateSave: true,
            autoWidth: true,
            destroy: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/ViewData/LoadSTBs/",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                { data: "stbno" },
                { data: "cid" },
                
                { data: "stbtype" },
                { data: "package" },
                { data: "addonpack" },
                { data: "status" },
                {
                    data: "createdAt",
                    render: function (data, type, row) {
                        console.log(row);
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd DD/MM/YYYY HH:mm:ss");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="#" class="btn btn-primary btn-sm checkbox-toggle" onclick="editcustomerSTB(\'' + row.id + '\');" title="Edit"><i class="fas fa-edit"></i></a>  <a class="btn btn-danger btn-sm checkbox-toggle" onclick="delcustomer(\'' + row.id + '\');" title="delete"><i class="far fa-trash-alt"></i></a>';
                    }
                }
            ],
            // Column Definitions
            columnDefs: [
                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }

                        return data;
                    }
                },
                { targets: "date-type", type: "date-eu" }
            ]
        });
    }
    $(document).ready(function () {
        LoadData();
    });
    function editcustomerSTB(id) {
        $("#mbody").load("/Home/PopUpModelShow/EditCusSTB-" + id, function () {

            $("#mtitle").text("Edit Customer STB");
            $("#AreaModel").modal({ backdrop: 'static', keyboard: false });
        });
    }
    function delcustomerSTB(id) {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this Action!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    url: "/Delete/DeleteSTB/",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    processData: false,
                    data: JSON.stringify(id),
                    async: true,
                    success: function (response) {
                        swal("Deleted!", "Your Record has been deleted.", "success");
                        LoadData();
                    },
                    error: function (e) {
                        swal("Oops", e.responseText, "error");
                        LoadData();
                    }
                });

            });
    }
    function strtrunc(str, num) {
        if (str.length > num) {
            return str.slice(0, num) + "...";
        }
        else {
            return str;
        }
    }

</script>
